<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Project Template Website</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/sidebar.css">
</head>
<!-- 프로젝트 생성후 메인창 -->

<body>
	<div class="container">
		<div class="sidebar">
			<ul>
				<li><a href="./projectCreate.html">프로젝트 만들기</a></li>
				<li class="active"><a href="./main.html">홈</a></li>
				<li><a href="./goal.html">목표</a></li>
				<li><a href="./work.html">작업</a></li>
				<li><a href="./documentList.html">문서</a></li>
				<li><a href="./calender.html">달력</a></li>
				<li><a href="account.html">멤버 초대</a></li>
			</ul>
		</div>
		<div class="centered-content">
			<div class="project-name" th:text="${projectDto.title}"> Project 1</div>
			<div class="centered-top">
				<div class="project-intro">
					<p class="div-h">Project Introduction</p>
					<p class="div-content" th:text="${projectDto.subtitle}">
				</div>
				<div class="team-members">
					<div class="div-h">Team Members</div>
					<div class="member" th:each="member : ${joinUsers}">
						<h3 th:text="${member.name}">John Doe</h3>
						<div class="member-role" th:text="${member.email}">Web Developer</div>
					</div>
					<div class="member">
						<h3>Jane Doe</h3>
						<div class="member-role">Graphic Designer</div>
					</div>
				</div>
			</div>
			<div class="my-work">
				<div class="div-h">내 작업</div>
				<p class="div-content">작업 설명</p>
			</div>
			<div class="goals">
				<div class="div-h">목표</div>
				<p class="div-content">목표 설명</p>
			</div>
		</div>
</div>
</body>

</html>