/* Global styles */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #222;
	color: #fff;
}

a {
	text-decoration-line: none;
	color: white;
}

.content {
	margin-left: 200px;
	padding: 20px;
}

.add-work-btn {
	background-color: #fff;
	width: 150px;
	color: #333;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.add-goal-btn:hover {
	background-color: #ddd;
	color: #333;
}

.centered-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.team-members,
.project-intro,
.my-work,
.goals {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.project-intro {
	flex: 1;
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;

}

.team-members {
	flex: 1;
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
}

.my-work {
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
}

.goals {
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
}