<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>My Goals</title>
  <link rel="stylesheet" href="/css/workDetail.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <script src="../js/goalDetail.js"></script>
</head>
<!-- 목표 > 내 목표 창-->

<body>
<div class="sidebar">
	<ul>
		<li><a href="./projectCreate.html">나가기</a></li>
		<li class="active"><a href="/project/main">홈</a></li>
		<li><a href="/project/goals">목표</a></li>
		<li><a href="/project/works">작업</a></li>
		<li><a href="/project/document">문서</a></li>
		<li><a href="./calender.html">달력</a></li>
		<li><a href="/user/search">멤버 초대</a></li>
	</ul>
</div>
<div class="top-bar">
  <!-- BackButton 디자인 필요 -->
  <a href="#" class="back-button">
    < </a>
  <h1 th:text="${detailDto.title}"></h1>
</div>

<div class="page-container">
  <div class="content-container">
    <div class="left-section">
      <div class="content">
        <h4 class="content-title">설명</h4>
        <p class="content-detail" th:text="${detailDto.discription}"></p>
      </div>

      <div class="content">
        <div class="linked-object">
          <div class="object-header">
            <div>하위 목표</div>
            <button class="object-edit-btn">목표 변경</button>
          </div>
          <div class="horizon-divider-semi"></div>
          <div class="object">
            <a href="">
              <div class="object-list" OnClick="location.href='#'">목표명</div>
            </a>
          </div>
        </div>

        <div>
          <h4 class="content-title">연결된 목표</h4>
          <div class="linked-object">
            <div class="object-header">
              <div>상위 목표</div>
              <button class="object-edit-btn">목표 변경</button>
            </div>
            <div class="horizon-divider-semi"></div>
            <div class="object">
              <a href=""><div class="object-list" OnClick="location.href='#'">목표명</div></a>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <h4 class="content-title">연결된 작업</h4>
        <table>
          <thead>
          <tr>
            <th class="job-name">작업명</th>
            <th>담당자</th>
            <th>기한</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="workDetail.html">작업명</a></td>
            <td>담당자명</td>
            <td>2023 01 01</td>
          </tr>
          <tr>
            <td><a href="workDetail.html">작업명</a></td>
            <td>담당자명</td>
            <td>2023 01 01</td>
          </tr>
          <tr>
            <td><a href="workDetail.html">작업명</a></td>
            <td>담당자명</td>
            <td>2023 01 01</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="vertical-divider"></div>

    <div class="right-section">
      <div>
        <h4 class="content-title">마감 기간</h4>
        <p class="content-detail" th:text="${#dates.format(detailDto.endDay, 'yyyy-MM-dd')}"></p>
        <div class="horizon-divider"></div>
      </div>

      <div>
        <h4 class="content-title">상위 목표</h4>
        <p><a href="#" class="content-detail" th:text="${headDto.title}"></a></p>
        <div class="horizon-divider"></div>
      </div>

      <div>
        <a href="goal-create.html">
          <button class="edit-btn">목표 수정</button>
        </a>
      </div>
    </div>
  </div>
</div>
</body>

</html>