<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Project Template Website</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/sidebar.css">
</head>
<!-- 프로젝트 생성후 메인창 -->
<body>
<div class="container">
	<div class="sidebar">
		<ul>
			<li><a href="./projectCreate.html">프로젝트 만들기</a></li>
			<li class="active"><a href="./main.html">홈</a></li>
			<li><a href="./goal.html">목표</a></li>
			<li><a href="./work.html">작업</a></li>
			<li><a href="./documentList.html">문서</a></li>
			<li><a href="./calender.html">달력</a></li>
			<li><a href="account.html">멤버 초대</a></li>
		</ul>
	</div>
	<div class="centered-content">
		<div class="project-name">Project 1</div>
		<div class="centered-top">
			<div class="project-intro">
				<h2>Project Introduction</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor semper massa, in scelerisque
					velit euismod in. Fusce vehicula enim id velit sagittis, a bibendum ipsum imperdiet.</p>
			</div>
			<div class="team-members">
				<h2>Team Members</h2>
				<div class="member">
					<h3>John Doe</h3>
					<div class="member-email">Web Developer</div>
				</div>
				<div class="member">
					<h3>Jane Doe</h3>
					<div>Graphic Designer</div>
				</div>
			</div>
		</div>
		<div class="my-work">
			<h2>내 작업</h2>
			<p>작업 설명</p>
		</div>
		<div class="goals">
			<h2>목표</h2>
			<p>목표 설명</p>
		</div>
	</div>

</body>

</html>