<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8' />
	<link href="/lib/main.css" rel='stylesheet' />
	<script src="/lib/main.js"></script>
	<script src="/js/calender.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="/css/calender.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/sideNavbar.css">
</head>


<body>
<header>
	<nav>
		<div class="nav-left">
			<button id="exitButton">나가기</button>
		</div>
		<div class="nav-center">
			<h1 id="projectName">Project Name</h1>
		</div>
		<div class="nav-right">
			<p id="loggedInUser">사용자 이름</p>
		</div>
	</nav>
</header>
<aside class="sidebar">
	<ul>
		<div class="menu">
			<ul>
				<li><a th:href="@{/project/main}">홈</a></li>
				<li><a href="/project/goals">목표</a></li>
				<li><a href="/project/works">작업</a></li>
				<li><a href="/project/document">문서</a></li>
				<li class="menu-select"><a href="#">일정</a></li>
				<li><a href="/project/recvMessageList">수신함</a></li>
			</ul>
		</div>
	</ul>
	<ul>
		<div class="user-list">
			<h2>프로젝트 멤버</h2>
			<ul>
				<li>User 1</li>
				<li>User 2</li>
				<li>User 3</li>
			</ul>
		</div>
		<div>
			<button id="inviteButton">Invite Members</button>
		</div>
	</ul>
</aside>
<div class="content">
	<div class="centered-content">
		<div id='calendar'></div>
	</div>
</div>
</body>

<script>
	var calendarEl = document.getElementById('calendar');
	var request = $.ajax({
				url: "/calendar/event",
				method: "GET"
			}
	);
	request.done(function (data) {
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView: 'dayGridMonth',
			events: data
		});
		calendar.render();
	});
</script>

</html>